<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment= "main(title,content,js)">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script defer th:replace=${js}></script>
  <title th:replace=${title}>페이지제목</title>
</head>
<body>
  <header class="logo">
    <a href="/index.html" th:href="@{/}">
      <h1 class="logo__text">Ani-More</h1>
      <img class="logo__img" src="/img/logo.png" alt="">
    </a>
  </header>

  <nav class="nav nav-sub">
    <div class="nav__column">
      <i class="fas fa-bars"></i>
      <span>전체 카테고리</span>
		  <!-- 검색 -->
		  <div class="search">
		    <input class="search__input search__input--sm" type="text" >
		    <span class="search__icon search__icon--sm"><i class="fas fa-search"></i></span>
		  </div>
    </div>
    <div class="nav__column">
      <ul class="nav__btn">
        <!-- TODO href th:href -->
        <li><a href="#">건강정보</a></li>
        <li><a href="#">게시판</a>
          <ul class="nav__board">
            <li><a href="#">Q&A</a></li>
            <li><a href="#">자유게시판</a></li>
            <li><a href="#">벼룩시장</a></li>
            <li><a href="#">내새끼보세요</a></li>
          </ul>
        </li>
        <li><a href="/member/joinForm.html" th:href="@{/join}">회원가입</a></li>
        <li><a href="/member/login.html" th:href="@{/login}">로그인</a></li>
      </ul>
  </nav>
  </div>

  <main th:replace=${content}></main>

  <footer>
    <p class="ft_name">Ani-More</p>
    <p class="ft_content">주소 : 울산광역시 남구 삼산로35번길 19 </p>
    <p class="ft_content">사업자번호 : 123-45-67890</p>
    <p class="ft_content">Contact Us Admin@animore.com</p>
    <p class="ft_content">@Copyright Ani-More All Rights Reserved 2021</p>
</footer>

</body>
</html>