<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{/template/template::main(~{::title},~{::main},~{::script},_)}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/api/ajaxCall.js"></script>
  <script src="/js/api/mypageReq.js" defer></script>
  <script src="/js/profileEdit.js" defer></script>

  <!-- <script src="/js/mypage.js" defer></script> -->

  <title>내정보</title>

</head>

<body>
  <!-- 메인 시작 -->
  <main class="main">
    <!-- 프로필정보 -->
    <form th:object="${profileForm}" enctype="multipart/form-data" action="/mypage/mypageFavorites"
      th:method="${patch}">
      <div class="mypage_profile_container" id="profileInfo">
        <ul class="mypage_profile">
          <li>
            <input type="file" name="file" id="imgFile" style="display:none; ">
            <div id="dropbox">
              <img class="profile__lg" th:src="@{|/img/upload/member/${profileForm.store_fname}|}" alt="이미지"
                id="profileImg" draggable="false" />
            </div>
          </li>
          <li>
            <span class="btn btn-outline-secondary btn-sm" id="changeProfileImgBtn">변경</span>
          </li>
        </ul>
        <div class="mypage_profile_userType">
          <div class="mypage_profile_usertypeicon">
            <img th:if="${session.loginMember.mtype=='N'}" src="/img/ntype.png" alt="일반회원유형">
            <img th:if="${session.loginMember.mtype=='S'}" src="/img/btype.png" alt="사업자회원유형">
          </div>
          <div class="mypage_profile_nickname" th:text="${session.loginMember.nickname}">
          </div>
        </div>

        <div class="mypage_profile_mileage">
          <span th:text="|마일리지 : ${profileForm.mileage}|">마일리지</span>
        </div>
      </div>
    </form>
    <!-- 프로필정보 끝 -->
    <div class="mypage_container2">
      <div class="mypage_aside_container">
        <h2 class="mypage_aside_title">내정보</h2>
        <ul class="mypage_aside_menu">




          <!-- TODO th:href 등록 파일명'임의'표기-->
          <li class="mypage_aside_menu mypage_aside_menu_highlight"><a class="mypage__myFavolitBtn"
              th:href="@{/mypage/mypageFavorites}">즐겨 찾는 업체</a></li>

          <li th:if="${mtype.equals('S')}" class="mypage_aside_menu"><a href="/mypage/mybusilist"
              class="mypage__myInfoBtn">내업체 목록</a></li>

          <li th:if=" ${mtype.equals('S')}" class="mypage_aside_menu">
            <p class="mypage__myReviewBtn">내 업체 리뷰</p>
          </li>

          <li class="mypage_aside_menu">
            <p class="mypage__myReviewBtn">내가 쓴 리뷰</p>
          </li>
          <li class="mypage_aside_menu">
            <p class="mypage__mypostBtn">내가 쓴 글</p>
          </li>

          <li class="mypage_aside_menu"><a href="/mypage/mypageReply" class="mypage__myReplyBtn">내가 쓴 댓글</a></li>

          <li class="mypage_aside_menu"><a href="/mypage/mypageGood" class="mypage__myGoodBtn">좋아요</a></li>

          <li class="mypage_aside_menu"><a href="#" class="mypage__myCouponBtn">내 쿠폰</a></li>

          <li class="mypage_aside_menu"><a href="/mypage/mypageModify" class="mypage__myInfoBtn">개인 정보 수정</a></li>

          <li class="mypage_aside_menu"><a href="/mypage/mypagePwModify" class="mypage__mypwBtn">비밀번호 수정</a></li>

          <li class="mypage_aside_menu"><a href="/mypage/mypageDel" class="mypage__outBtn">회원 탈퇴</a></li>
        </ul>
      </div>
      <div class="mypage_content_container">

        <h2 class="mypage_content_title">즐겨 찾는 업체</h2>
        <hr>
        <table class="mypage__table">
          <tr class="w3-hover-green">
            <th class="mypage__cell mypage__th mypage__num">번호</th>
            <th class="mypage__cell mypage__th favorite__bname">업체명</th>
            <th class="mypage__cell mypage__th mypage__score">평점</th>
            <th class="mypage__cell mypage__th mypage__review-num">리뷰수</th>
          </tr>
          <tr th:each="favorite :${Favorite}" class="w3-hover-green">
            <td class="mypage__cell mypage__td"><span th:text="${favorite.rownum}">번호</span></td>
            <td class="mypage__cell mypage__td"><a th:href="@{|/inquire/${favorite.bnum}|}" th:text="${favorite.bname}">업체명</a></td>
            <td class="mypage__cell mypage__td"><i class="fas fa-star busi-list__star"></i><span th:text="|${favorite.bscore}점|">평점</span></td>
            <td class="mypage__cell mypage__td"><span th:text="|${favorite.count} 개|">리뷰수</span></td>
          </tr>
        </table>
      </div>
    </div>
  </main>

</body>

</html>