<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template-main::main(~{::main})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>


 <main class="main">

   <div class="container main_container">
     <!-- 프로필정보 -->
     <div class="main_profile_container">
       <div class="main_profile_profileimg">
         <img src="https://cdn.pixabay.com/photo/2016/10/10/14/13/dog-1728494_960_720.png" alt="프로필이미지">
        </div>
        <div class="main_profile_nickname">
          Tester1
        </div>
        <div class="main_profile_usertypeicon">
          <img src="https://cdn.pixabay.com/photo/2016/10/10/14/13/dog-1728494_960_720.png" alt="회원유형">
        </div>
        <div class="main_profile_mileage">
          마일리지: 1000p
        </div>
      </div>
      <!-- 프로필정보 끝 -->
      <div class="main_container2">
        <div class="main_aside_container">
          <h2 class="main_aside_title">마이페이지</h2>
          <ul class="main_aside_menu">
            <li class="main_aside_menu_highlight"><a href="#">즐겨 찾는 업체</a></li>
            <li><a href="./mypage_2.html">내가 쓴 리뷰</a></li>
            <li><a href="./mypage_3.html">내가 쓴 글</a></li>
            <li><a href="./mypage_4.html">내가 쓴 댓글</a></li>
            <li><a href="./mypage_5.html">좋아요</a></li>
            <li><a href="./mypage_6.html">내 쿠폰</a></li>
            <li><a href="./mypage_7.html">회원 정보 수정</a></li>
            <li><a href="./mypage_8.html">회원 탈퇴</a></li>
          </ul>
        </div>
        <div class="main_content_container">
          <h3 class="main_content_title">즐겨 찾는 업체</h3>
          <hr>
          <div class="main_content">
            <ul>
              <li><input type="checkbox" name="c1" id="c1"><label for="c1">전체</label></li>
              <li><input type="checkbox" name="c2" id="c2"><label for="c2">병원</label></li>
              <li><input type="checkbox" name="c3" id="c3"><label for="c3">약국</label></li>
              <li><input type="checkbox" name="c4" id="c4"><label for="c4">유치원</label></li>
              <li><input type="checkbox" name="c5" id="c5"><label for="c5">호텔</label></li>
              <li><input type="checkbox" name="c6" id="c6"><label for="c6">카페</label></li>
              <li><input type="checkbox" name="c7" id="c7"><label for="c7">식당</label></li>
              <li><input type="checkbox" name="c8" id="c8"><label for="c8">동물미용실</label></li>
              <li><input type="checkbox" name="c9" id="c9"><label for="c9">용품판매점</label></li>
              <li><input type="checkbox" name="c10" id="c10"><label for="c10">야외놀이터</label></li>
              <li><input type="checkbox" name="c11" id="c11"><label for="c11">훈련소</label></li>
              <li><input type="checkbox" name="c12" id="c12"><label for="c12">기타시설</label></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  
  </main>
    
  <!-- 메인 끝 -->
    
    <!-- 푸터 -->
    
    
    
    <!-- 푸터 끝 -->
  </body>
  </html>