<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/templateSub::main(~{::title},~{::main},~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script defer></script>
<title>게시글작성</title>
</head>
<body>
<main class="main ">
	<form action="" th:action="@{|/board/add|}"  th:method="post" th:object="${BoardForm}">
	<div class="addPost__container">
    <select name="bcategory" id="bcategory" class="addPost__selectbox">
      <option value="" selected>게시판명</option>
	<option th:each="ele : ${bcategory}"
			th:value="${ele.code}" th:text="${ele.decode}">
	</option>
    </select>
    <input class="addPost__title" type="text" name="btitle" id="btitle" placeholder="제목을 입력하세요.">
    <div class="addPost__icons">
      <a><i class="far fa-image"></i></a>
      <a><i class="fab fa-youtube"></i></a>
      <a><i class="fas fa-link"></i></a>
    </div>
      <textarea class="addPost__content" name="bcontent" id="bcontent" cols="60" rows="10"></textarea>
    <div class="addPost__btns">
      <button type="button">취소</button>
      <button type="submit">등록</button>
    </div>
    </div>
    </form>
</main>
</body>
</html>