<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/templateSub::main(~{::title},~{::main},~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/style.css">
  <script src="/js/boardDetail.js" defer></script>
  <script src="/js/api/rboard.js" defer></script>
  <script src="/js/api/ajaxCall.js"></script>
<title>게시글</title>
</head>
<body>
    <main class="main" th:object="${post}">
    	<div class="boardForm" th:data-bnum="*{bnum}">
        <div class="boardForm__btns">
            <button class="boardForm__listBtn">목록</button>
            <button class="boardForm__modifyBtn">수정</button>
            <button class="boardForm__delBtn">삭제</button>
        </div>
        <div class="boardForm__titleContainer">
            <div class="boardForm__title" th:text="*{btitle}">제목명</div>
                   <!--TODO 공지등록버튼 물어보고 추가하기 ,프로필사진 클래스명 같은걸로 통일해도..?-->
                   <div class="boardForm__noticebox">
                   <p>공지등록</p>
                   <label class="switch">
            <input type="checkbox" name="autologincheck">
            <span class="slider round"></span>
                  </label>
                  </div>
        </div>
       <div class="boardForm__infoContainer">
        <img src="https://picsum.photos/seed/picsum/50/50" alt="" class="boardForm__proImg">
        <div class="boardForm__info">
            <span class="boardForm__Nickname" th:text="*{nickname}">닉네임</span>
            <div class="boardForm__info2">
                <div class="boardForm__Hits"><span th:text="|조회수 *{bhit}|"></span></div>
                <div class="boardForm__reply"><span th:text="|댓글수 *{breply}|"></span></div>
                <div class="boardForm__cdate"><span th:text="|작성일 *{bcdate}|"></span></div>
            </div>
        </div>
       </div>
       <div class="boardForm__contents"><p th:text="*{bcontent}"></p></div>
       <div class="boardForm__likeContainer">
           <div class="boardForm__likewrap">
               <div class="boardForm__likeText">좋아요</div>
               <div class="boardForm__likeIcon"><i class="fa-heart far"></i></div>
           </div>
           <div class="boardForm__likeHits" th:text="*{bgood}">좋아요 수</div>
       </div>

       <!-- 댓글 -->
       <div class="">댓글</div>
       <div class="boardForm__replyListWrap">
     		 <div class="boardForm__replyContainer" th:each="reply : ${reply}">
           <div class="boardForm__replyImgWrap"><img src="https://picsum.photos/seed/picsum/50/50" alt="" class="boardForm__proImg"></div>
           <div class="boardForm__replyTextContainer" th:data-rnum="${reply.rnum}" th:data-rgroup="${reply.rgroup}" th:data-rstep="${reply.rstep}">
           		<div>
                <div class="boardForm__ReplyNickname" th:text="${reply.nickname}">닉네임</div>
                <div class="boardForm__ReplyContent" th:text="${reply.rcontent}">댓글내용</div>
                <div class="boardForm__Replywrap">
                    <div class="boardForm__Replycdate" th:text="${reply.rcdate}">작성일자</div>
                    <button class="boardForm__ReplyReBtn">답글쓰기</button>
                    <button th:if="${session.loginMember != null && session.loginMember.id.equals(reply.id)}" class="boardForm__modiReplyBtn" th:data-rnum="${reply.rnum}" th:data-rgroup="${reply.rgroup}" th:data-rstep="${reply.rstep}">댓글수정</button>
                    <button th:if="${session.loginMember != null && session.loginMember.id.equals(reply.id)}" class="boardForm__delReplyBtn" th:data-rnum="${reply.rnum}" th:data-rgroup="${reply.rgroup}" th:data-rstep="${reply.rstep}">댓글삭제</button>
                </div>
            	</div>
            </div>
          </div>
        </div>
        <form class="boardForm__AddReplyContainer">

                <textarea class="boardForm__AddReplyContent"name="" id="" cols="30" rows="10" placeholder="내용을 입력해주세요."></textarea>    
            <button class="boardForm__AddReplyBtn" type="button">등록</button>

        </form>
        <div class="boardForm__btns boardForm__underBtns">
            <button class="boardForm__listBtn">목록</button>
            <button class="boardForm__replyReBtn">답글</button>
            <button class="boardForm__addBtn">글쓰기</button>
        </div>
        </div>
    </main>
</body>
</html>