<!DOCTYPE html>
<html lang="ko"
         xmlns:th="http://www.thymeleaf.org"
         th:replace="~{/template/template::main(~{::title},~{::main},~{::script},~{::link})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
  <script src="/js/board.js" defer></script>
  <script src="/js/api/ajaxCall.js"></script>
  <title>글목록</title>
</head>

<body>

    <main class="main">

    <div class="board">

      <div>
        <ul class="board__categorys">
          <li><a href="#" th:href="@{/board/{cate}(cate=Q)}" class="board__category board__selectCategory" id="category_Q" >Q&A</a></li>
          <li><a href="#" th:href="@{/board/{cate}(cate=M)}" class="board__category" id="category_M">벼룩시장</a></li>
          <li><a href="#" th:href="@{/board/{cate}(cate=F)}" class="board__category" id="category_F">자유게시판</a></li>
          <li><a href="#" th:href="@{/board/{cate}(cate=P)}" class="board__category" id="category_P">내새끼보세요</a></li>
        </ul>
      </div>
      <!-- Q&A -->
   <div th:if="${cate} =='Q'">
      <table class="board__table">
        <tr>
          <th class="board__cell board__num">번호</th>
          <th class="board__cell board__titles">제목</th>
          <th class="board__cell board__writer">작성자</th>
          <th class="board__cell board__hits">조회</th>
          <th class="board__cell board__hearthits">좋아요</th>
        </tr>
        <tr th:each="notice :${notice}">
          <td class="board__cell board__num notice__cell" th:text="${notice.bnum}">1</td>
          <td class="board__cell board__title notice__cell" ><a th:href="@{|/board/post/${notice.bnum}|}" th:text="|<공지>${notice.btitle}|"></a></td>
          <td class="board__cell board__writer notice__cell" th:text="${notice.nickname}"><a href="#">작성자</a></td>
          <td class="board__cell board__hits notice__cell" th:text="${notice.bhit}">30</td>
          <td class="board__cell board__hearthits notice__cell" th:text="${notice.bgood}">10</td>
        </tr>
        <tr th:each="boardForm :${boardForm}">
          <td class="board__cell board__num" th:text="${boardForm.bnum}">1</td>
          <td class="board__cell board__title" >
           <th:block th:if="${boardForm.bindent} > 0">
            <span th:each="cnt :${#numbers.sequence(1,boardForm.bindent)}">&nbsp;&nbsp;</span>
            <i class="fas fa-arrow-right"></i>
          </th:block>
          <a th:href="@{|/board/post/${boardForm.bnum}|}" th:text="${boardForm.btitle}"></a>
          </td>
          <td class="board__cell board__writer" th:text="${boardForm.nickname}"><a href="#">작성자</a></td>
          <td class="board__cell board__hits" th:text="${boardForm.bhit}">30</td>
          <td class="board__cell board__hearthits" th:text="${boardForm.bgood}">10</td>
        </tr>
      </table>

      
   </div>
      <!-- 벼룩시장 -->
      <div th:if="${cate} =='M'">
      <table class="board__table">
        <tr>
          <th class="board__cell board__num">번호</th>
          <th class="board__cell board__titles">제목</th>
          <th class="board__cell board__writer">작성자</th>
          <th class="board__cell board__hits">조회</th>
          <th class="board__cell board__hearthits">좋아요</th>
        </tr>
        <tr th:each="notice :${notice}">
          <td class="board__cell board__num notice__cell" th:text="${notice.bnum}">1</td>
          <td class="board__cell board__title notice__cell" ><a th:href="@{|/board/post/${notice.bnum}|}" th:text="|<공지>${notice.btitle}|"></a></td>
          <td class="board__cell board__writer notice__cell" th:text="${notice.nickname}"><a href="#">작성자</a></td>
          <td class="board__cell board__hits notice__cell" th:text="${notice.bhit}">30</td>
          <td class="board__cell board__hearthits notice__cell" th:text="${notice.bgood}">10</td>
        </tr>
        <tr th:each="boardForm :${boardForm}">
          <td class="board__cell board__num" th:text="${boardForm.bnum}">1</td>
          <td class="board__cell board__title" ><a th:href="@{|/board/post/${boardForm.bnum}|}" th:text="${boardForm.btitle}"></a></td>
          <td class="board__cell board__writer" th:text="${boardForm.nickname}"><a href="#">작성자</a></td>
          <td class="board__cell board__hits" th:text="${boardForm.bhit}">30</td>
          <td class="board__cell board__hearthits" th:text="${boardForm.bgood}">10</td>
        </tr>
      </table>

      
   </div>
   
      <!-- 자유게시판 -->
   <div th:if="${cate} =='F'">
      <table class="board__table">
        <tr>
          <th class="board__cell board__num">번호</th>
          <th class="board__cell board__titles">제목</th>
          <th class="board__cell board__writer">작성자</th>
          <th class="board__cell board__hits">조회</th>
          <th class="board__cell board__hearthits">좋아요</th>
        </tr>
        <tr th:each="notice :${notice}">
          <td class="board__cell board__num notice__cell" th:text="${notice.bnum}">1</td>
          <td class="board__cell board__title notice__cell" ><a th:href="@{|/board/post/${notice.bnum}|}" th:text="|<공지>${notice.btitle}|"></a></td>
          <td class="board__cell board__writer notice__cell" th:text="${notice.nickname}"><a href="#">작성자</a></td>
          <td class="board__cell board__hits notice__cell" th:text="${notice.bhit}">30</td>
          <td class="board__cell board__hearthits notice__cell" th:text="${notice.bgood}">10</td>
        </tr>
        <tr th:each="boardForm :${boardForm}">
          <td class="board__cell board__num" th:text="${boardForm.bnum}">1</td>
         <td class="board__cell board__title" ><a th:href="@{|/board/post/${boardForm.bnum}|}" th:text="${boardForm.btitle}"></a></td>
          <td class="board__cell board__writer" th:text="${boardForm.nickname}"><a href="#">작성자</a></td>
          <td class="board__cell board__hits" th:text="${boardForm.bhit}">30</td>
          <td class="board__cell board__hearthits" th:text="${boardForm.bgood}">10</td>
        </tr>
      </table>
      

    </div>
    
    </div>

    <!-- 내새끼보세요 -->
   <div th:if="${cate} =='P'">
    <div class="b_galarywrap board__table">
        <div class="b_galary_post" th:each="boardForm :${boardForm}">
          <div class="b_galary_img"><a th:href="@{|/board/post/${boardForm.bnum}|}">
          <img src="https://picsum.photos/id/1/200/200" alt=""> <p class="b_galary_title" th:text="${boardForm.btitle}">글제목</p></a></div>
        </div>
        
        
      </div>
    </div>
     <div class="board__btns">
        <button class="board__btn boardForm__addBtn" type="button" th:data-cate =${cate}>글쓰기</button>
      </div>

      <form action="" class="board__searchForm">
        <div class="board__search">
          <select name="search" id="" class="board__search_select">
            <option value="btitle">제목</option>
            <option value="nickname">작성자명</option>
            <option value="bcontent">내용</option>
          </select>
          <input type="text" name="" id="" class="board__searchInput">
          <button type="submit" class="searchBtn">검색</button>
        </div>
      </form>

		<div class="wrap-bbs-paging">
		  <ul class="pagination pagination-sm justify-content-center">
		  	<th:block th:if="${pc.prev}">
			  	<li class="page-item">
				    	<a class="page-link" href="#" th:href="@{/board/{cate}?reqPage=1(cate=${cate})}"><i class="fas fa-angle-double-left"></i></a>
				  </li>
			  	<li class="page-item">
				    	<a class="page-link" href="#" th:href="@{/board/{cate}(cate=${cate},reqPage=${pc.startPage-1})}"><i class="fas fa-angle-left"></i></a>
				  </li>
			  </th:block>
		    <th:block th:each="pnum : ${#numbers.sequence(pc.startPage,pc.endPage)}">
		    	<th:block th:if="${pnum != 0}">
						<li class="page-item active" aria-current="page"
								th:if="${pc.rc.reqPage == pnum}">
			      <span class="page-link" th:text="${pnum}">1</span>
			    </li>							    
			    <li class="page-item" 
			    		th:if="${pc.rc.reqPage != pnum}">
			    	<a class="page-link" href="#" th:href="@{/board/{cate}(cate=${cate},reqPage=${pnum})}" th:text="${pnum}">3</a>
			    </li>
			    </th:block>
		    </th:block>
		    <th:block th:if="${pc.next}">
			  	<li class="page-item">
				    	<a class="page-link" href="#" th:href="@{/board/{cate}(cate=${cate},reqPage=${pc.endPage+1})}"><i class="fas fa-angle-right"></i></a>
				  </li>
			  	<li class="page-item">
				    	<a class="page-link" href="#" th:href="@{/board/{cate}(cate=${cate},reqPage=${pc.finalEndPage})}"><i class="fas fa-angle-double-right"></i></a>
				  </li>		
				</th:block>
		  </ul>
		</div>

  </main>
</body>

</html>