<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/template::main(~{::title},~{::main},~{::script},_)}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script defer></script>
  <title>건강정보</title>
</head>
<body>
  <main class="main">
    <div class="board">
      <div class="health_btns">
        <button class="health_disease_btn">질병사전</button>
        <button class="health_act_btn">행동사전</button>
      </div>
      <div class="health__search">
        <select name="search" id="" class="health__search_select">
          <option value="">전체</option>
          <option value="disease">질병사전</option>
          <option value="act">행동사전</option>
        </select>
        <input type="text" name="" id="" class="health__search_input" placeholder="궁금한 점을 검색해보세요!" >
        <button type="button" class="health__search_btn">검색</button>
      </div>
      <div class="health_board_container">
        <p class="health_board_title">라임병?많이어색하시죠?</p>
        <p class="health_board_content">안녕하세요.'똑독'입니다!오늘은~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~감사합니다~!</p>
        <p class="health_board_writer">똑독</p>
      </div>
      <button class="health_board_write">글쓰기</button>
    </div>
  </main>
</body>
</html>