<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/template::main(~{::title},~{::main},~{::script},~{::link})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/js/boardDetail.js" defer></script>
  <script src="/js/api/rboardReq.js" defer></script>
  <script src="/js/reply.js" defer></script>
  <script src="/js/api/ajaxCall.js"></script>
<title>게시글</title>
</head>
<body>
    <main class="main" th:object="${post}" >
    	<div class="boardForm" th:data-bnum="*{bnum}">
    	<div class="boardForm__category">게시판>
		    <a href="#" th:if ="*{bcategory == 'Q'}" th:href="@{/board/{cate}(cate=Q)}" >Q&A</a>
		    <a href="#" th:if ="*{bcategory == 'F'}" th:href="@{/board/{cate}(cate=F)}" >자유게시판</a>
		    <a href="#" th:if ="*{bcategory == 'M'}" th:href="@{/board/{cate}(cate=M)}" >벼룩시장</a>
		    <a href="#" th:if ="*{bcategory == 'P'}" th:href="@{/board/{cate}(cate=P)}" >내새끼보세요</a>
		</div>
        <div class="boardForm__titleContainer">
            <div class="boardForm__title" th:text="*{btitle}">제목명</div>
                   <!--TODO 프로필사진 클래스명 같은걸로 통일해도..?-->
                   <div class="boardForm__noticebox" th:if="${session.loginMember != null && 
                   								session.loginMember.id.equals('admin@animore.com')&&
                   								notice == false &&
                   								post.bcategory != 'P'}">
                   <p>공지등록</p>
                   <label class="switch">
                        <input type="checkbox" class="autologincheck" name="autologincheck">
                        <span class="slider round" th:data-bnum="*{bnum}"></span>
                  </label>
                  </div>
                   <div class="boardForm__noticebox" th:if="${session.loginMember != null && 
                   								session.loginMember.id.equals('admin@animore.com') &&
                   								notice == true &&
                   								 post.bcategory != 'P'}">
                   <p>공지등록</p>
                   <label class="switch">
                        <input type="checkbox" class="autologincheck" name="autologincheck" checked>
                        <span class="slider round" th:data-bnum="*{bnum}"></span>
                  </label>
                  </div>
            <div class="boardForm__btns">
                <button type="button" class="boardForm__listBtn" th:data-bcategory="*{bcategory}">목록</button>
                <button type="button" class="boardForm__replyReBtn" th:if="${session.loginMember != null && post.bcategory == 'Q'}" th:data-bnum="*{bnum}">답글</button>
                <button type="button" class="boardForm__addBtn" th:data-cate="*{bcategory}">글쓰기</button>
            </div>
        </div>
       <div class="boardForm__infoContainer">
        <img th:src="@{|/img/upload/member/*{member_fname}|} " alt="프로필사진" class="profile__sm">
        <div class="boardForm__info">
            <span class="boardForm__Nickname" th:text="*{nickname}">닉네임</span>
            <div class="boardForm__info2">
                <div class="boardForm__Hits"><span th:text="|조회수 *{bhit}|"></span></div>
                <div class="boardForm__cdate"><span th:text="|작성일 *{bcdate}|"></span></div>
            </div>
        </div>
       </div>
       <div class="boardForm__contents">
       	<th:block th:if ="*{files != null}" th:each="img : *{files}">
       		<img class="boardForm__img" th:src="@{|/images/${img.store_fname}|}" alt="업로드파일" />
       	</th:block>
       <p th:text="*{bcontent}"></p>
       </div>
        <div class="boardForm__files">
			<label for="file" class="file__title">첨부파일></label>
			<div >
			<span th:each="file : *{files}">
			<a class="file__content" th:href="@{|/attach/${file.store_fname}/${file.upload_fname}}|"
				th:text="|/${file.upload_fname}|"></a>
			</span>
			</div>
		</div>
       <div class="boardForm__likeContainer">
           <div class="boardForm__likewrap">
               <div class="boardForm__likeText">좋아요</div>
               <div class="boardForm__likeIcon">
               <i th:if="${good==0}" th:data-bnum="*{bnum}" class="fa-heart far "></i>
               <i th:if="${good==1}" th:data-bnum="*{bnum}" class="fa-heart fas toggleColorChange"></i>
               </div>
           </div>
           <div class="boardForm__likeHits" th:text="*{bgood}">좋아요 수</div>
       </div>

       <!-- 댓글 -->
       <div class=" boardForm__text"><span class="boardForm__reply boardForm__text" th:text="|댓글수 ${reply.size}|"></span></div>
       <div class="boardForm__replyListWrap">
     		 <div class="boardForm__replyContainer" th:each="reply : ${reply}">

     		 	 <th:block th:if="${reply.rindent} > 0">
        	   <div th:each="cnt : ${#numbers.sequence(1,reply.rindent)}" class="boardForm__replyIndent"></div>
					 </th:block>
           <div class="boardForm__replyImgWrap"><img th:src="@{|/img/upload/member/*{member_fname}|} " alt="" class="boardForm__proImg"></div>
           <div class="boardForm__replyTextContainer" th:data-rnum="${reply.rnum}" th:data-rgroup="${reply.rgroup}" th:data-rstep="${reply.rstep}">
           		<div>
                <div class="boardForm__ReplyNickname" th:text="${reply.nickname}">닉네임</div>
                <div class="boardForm__ReplyContent" th:text="${reply.rcontent}">댓글내용</div>
                <div class="boardForm__Replywrap">
                    <th:block th:if="${reply.status == 'A'}">
                    	<div class="boardForm__Replycdate" th:text="${#calendars.format(reply.rcdate,'yyyy-MM-dd HH:mm:ss')}">작성일자</div>
	                    <button class="boardForm__ReplyReBtn" th:data-rnum="${reply.rnum}">답글</button>
	                    <th:block th:if="${(session.loginMember != null && (session.loginMember.id.equals(reply.id)||session.loginMember.mtype=='A'))}">
		                    <button class="boardForm__modiReplyBtn" th:data-rnum="${reply.rnum}">수정</button>
		                    <button class="boardForm__delReplyBtn" th:data-rnum="${reply.rnum}">삭제</button>
	                    </th:block>
                    </th:block>
                </div>
            	</div>
            </div>
          </div>
        </div>
        <form class="boardForm__AddReplyContainer">

                <textarea class="boardForm__AddReplyContent"name="" id="" cols="30" rows="10" placeholder="내용을 입력해주세요."></textarea>    
            <button class="boardForm__AddReplyBtn" type="button">등록</button>

        </form>
        <div class="boardForm__btns bottom_btns">
            <button class="boardForm__listBtn" th:data-bcategory="*{bcategory}">목록</button>
            <button class="boardForm__modifyBtn" 
            		th:if="${session.loginMember != null && session.loginMember.id.equals(post.id)}"
            		th:data-bnum="*{bnum}">수정</button>
            <!-- 글쓴이 이거나 관리자계정일경우 삭제버튼 보임 -->
            <button class="boardForm__delBtn" th:if="${session.loginMember != null && 
            										session.loginMember.id.equals(post.id)}"
            							th:data-bnum="*{bnum}"
            							th:data-bcategory="*{bcategory}">삭제</button>
        </div>
        </div>
    </main>
</body>
</html>