<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{templateSub::main(~{::main})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<!-- 헤더 임시 삽입 -->
<header class="logo">
  <h1 class="logo__text">Ani-More</h1>
  <img class="logo__img" src="/img/logo.png" alt="">
</header>
<nav class="nav">
  <div class="nav__column">
    <i class="fas fa-bars"></i>
    <span>전체 카테고리</span>
  </div>
  <div class="nav__column">
    <ul class="nav__btn">
      <li><a href="#">건강정보</a></li>
      <li><a href="#">게시판</a>
        <ul class="nav__board">
          <li><a href="#">Q&A</a></li>
          <li><a href="#">자유게시판</a></li>
          <li><a href="#">벼룩시장</a></li>
          <li><a href="#">내새끼보세요</a></li>
        </ul>
      </li>
      <li><a href="/html/member/joinForm.html">회원가입</a></li>
      <li><a href="/html/member/login.html">로그인</a></li>
    </ul>
    <!-- <input class="nav__btn" type="button" value="건강정보">
      <input class="nav__btn" type="button" value="게시판">
      <input class="nav__btn" type="button" value="회원가입">
      <input class="nav__btn" type="button" value="로그인"> -->
</nav>


<main class="main">

  <div class="board">
    
    <div>
      <ul class="board__category">
        <!-- TODO href -->
        <li><a href="#" th:href="">Q&A</a></li>
        <li><a href="#" th:href="">벼룩시장</a></li>
        <li><a href="#" th:href="">자유게시판</a></li>
        <li><a href="#" th:href="">내새끼보세요</a></li>
      </ul>
    </div>


    
      <div class="b_galarywrap">
        <div class="b_galary_post">
          <div class="b_galary_img"><a href="#"><img src="https://picsum.photos/id/1/200/200" alt=""> <p class="b_galary_title">글제목</p></a></div>
        </div>
        <div class="b_galary_post">
          <div class="b_galary_img"><a href="#"><img src="https://picsum.photos/id/1/200/200" alt=""> <p class="b_galary_title">글제목</p></a></div>
        </div>
        <div class="b_galary_post">
          <div class="b_galary_img"><a href="#"><img src="https://picsum.photos/id/1/200/200" alt=""> <p class="b_galary_title">글제목</p></a></div>
        </div>
        <div class="b_galary_post">
          <div class="b_galary_img"><a href="#"><img src="https://picsum.photos/id/1/200/200" alt=""> <p class="b_galary_title">글제목</p></a></div>
        </div>
        <div class="b_galary_post">
          <div class="b_galary_img"><a href="#"><img src="https://picsum.photos/id/1/200/200" alt=""> <p class="b_galary_title">글제목</p></a></div>
        </div>
        <div class="b_galary_post">
          <div class="b_galary_img"><a href="#"><img src="https://picsum.photos/id/1/200/200" alt=""> <p class="b_galary_title">글제목</p></a></div>
        </div>
        <div class="b_galary_post">
          <div class="b_galary_img"><a href="#"><img src="https://picsum.photos/id/1/200/200" alt=""> <p class="b_galary_title">글제목</p></a></div>
        </div>
        <div class="b_galary_post">
          <div class="b_galary_img"><a href="#"><img src="https://picsum.photos/id/1/200/200" alt=""> <p class="b_galary_title">글제목</p></a></div>
        </div>  
      </div>
      
      <div class="board__btns">
        <button class="borad__btn" type="button">내글보기</button>
        <button class="borad__btn" type="button">글쓰기</button>
      </div>
      
      <div class="board__search">
        <select name="search" id="" class="board__search_select">
          <option value="">제목</option>
          <option value="">작성자명</option>
          <option value="">내용</option>
        </select>
        <input type="text" name="" id="">
        <button type="button" >검색</button>
      </div>
      
      <div class="borad__pageBtn">
        
      </div>
    </div>

</div>
  
</main>
</body>

</html>