<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/templateSub::main(~{::title},~{::main},~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script defer></script>
  <title>AniMore-login</title>
</head>
<body>
  <header>
  <!-- TODO 템플릿 -->
  </header>

<main class="main">

  <div>
    <!-- TODO form db와 연결하기 -->
    <form class="login" action="/main">

      <input class="login__id" type="text" placeholder="아이디">
      <input class="login__pwd" type="text" placeholder="비밀번호">
      <p class="login__errormsg"></p>
      <input class="login__btn" type="submit" value="로그인">
      
      <div class="toggle"></div>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <span class="switch__text">자동 로그인 OFF</span><span class="switch__text" style="display:none;">자동 로그인 ON</span>
    </form>
  </div>
    
  <div class="link">
    <!-- TODO th링크 -->
    <a href="/member/findid.html" th:href="">아이디 찾기</a>
    
    <a href="/member/findPW.html" th:href="">비밀번호 찾기</a>
    
    <a href="/member/joinForm.html" th:href="">회원가입</a>
  </div>

  <div class="ad">
    <img src="https://picsum.photos/seed/picsum/300/250" alt="">
  </div>
  
  
  
</main>

    <script>
      var check = $("input[type='checkbox']");
      check.click(function(){
        $("p").toggle();
      });
    </script>
</body>
</html>