<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
     th:replace="~{/template/template::main(~{::title},~{::main},~{::script},_)}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
<script defer></script>
<title>회원가입</title>
</head>
<body>

	<main class="main">
	
		<div class="mtypeBtns">
			<a href="/member/join/normal"><button class="mtypeBtn">일반회원</button></a>
			<a href="/member/join/special"><button class="mtypeBtn">특수회원</button></a>
		</div>

	</main>
</body>
</html>