<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/template::main(~{::title},~{::main},~{::script},_)}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
<script src="/js/api/ajaxCall.js"></script>
<script src="/js/joinForm.js" defer></script>
<script src="/js/api/joinFormReq.js" defer></script>
<title>회원가입</title>
</head>
<body>

  <main class="main">

    <form action="/index.html" th:action="@{|/member/join/${mtype}|}" th:method="post" th:object="${joinMemberForm}"  enctype="multipart/form-data">
 		
 		  <input type="hidden" name="mtype" th:value="${mtype}"/>
      <h1 th:if="${mtype} == 'N'">일반회원가입양식</h1>
      <h1 th:if="${mtype} == 'S'">사업자회원가입양식</h1>
      
      <div th:errors="*{global}" th:errorclass="field-msg">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>      				
      </div>
      
      <h3 class="joinform__title">공통정보</h3>
      <hr>
      
      <ul class="joinform">
        <li>
          <div class="joinform__row"><label for="id">아이디</label><span class="joinform__required-mark">*</span></div>
          <div class="joinform__row">
            <input class="joinform__input joinform__input--md joinform__idInputTextbox" type="text" th:field="*{id}" placeholder="Ex.) petlove1@animore.com" required/>
            <button class="joinform__btn joinform__idDupChkBtn" type="button">중복확인</button>
          </div>
          <div><p id="errmsg_joinFormId" class="field-msg"></p></div>
        </li>
        <li>
          <div class="joinform__row"><label for="pw">비밀번호</label><span class="joinform__required-mark">*</span></div>
          <div class="joinform__row"><input class="joinform__input" type="password" placeholder="영문,숫자,특수문자 조합으로 9~12자리로 설정하시오" th:field="*{pw}" required/></div>
        </li>
        <p th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}" class="field-errmsg" >Incorrect date</p>
        <li>
          <div class="joinform__row"><label for="pw2">비밀번호 재확인</label><span class="joinform__required-mark">*</span></div>
          <div class="joinform__row"><input type="password" class="joinform__input" th:field="*{pw2}" th:errorclass="field-error" required><p class="error__pw2"></p></div>
	        <p th:if="${#fields.hasErrors('pw2')}" th:errors="*{pw2}">Incorrect date</p>
	        <p class="pwChk-msg"></p>
        </li>
        <li>
          <div class="joinform__row"><label for="file">프로필사진</label></div>
          <div class="joinform__row"><input type="file" class="joinform__input" th:field="*{file}"></div>
        </li>
        <li>
          <div class="joinform__row"><label for="name">이름</label><span class="joinform__required-mark">*</span></div>
          <div class="joinform__row"><input type="text" class="joinform__input" maxlength="5" th:field="*{name}" required></div>
        </li>
        <li>
          <div class="joinform__row"><label for="birth">생년월일</label><span class="joinform__required-mark">*</span></div>
          <div class="joinform__row"><input type="date" class="joinform__input" th:field="*{birth}" required></div>
        </li>
        <li>
          <div class="joinform__row"><label for="gender">성별</label><span class="joinform__required-mark">*</span></div>
          <div class="joinform__row">
            <label for="male">남자</label><input type="radio" class="joinform__input" name="gender" id="male" value="M">
            <label for="female">여자</label><input type="radio" class="joinform__input" name="gender" id="female" value="F">
          </div>
        </li>
        <li>
          <div class="joinform__row"><label for="tel">연락처</label><span class="joinform__required-mark">*</span></div>
          <div class="joinform__row">
            <input type="text" class="joinform__input joinform__input--sm" maxlength="4" pattern="[0-9]+" th:field="*{tel}" required>
            <input type="text" class="joinform__input joinform__input--sm" maxlength="4" pattern="[0-9]+" th:field="*{tel2}" required>
            <input type="text" class="joinform__input joinform__input--sm" maxlength="4" pattern="[0-9]+" th:field="*{tel3}" required>
          </div>
        </li>
        <li>
          <div class="joinform__row"><label for="email">연락가능 이메일</label><span class="joinform__required-mark">*</span></div>
          <div class="joinform__row"><input type="email" class="joinform__input" th:field="*{email}" required></div>
        </li>
        <li>
          <div class="joinform__row"><label for="address">주소</label><span class="joinform__required-mark">*</span></div>
          <div class="joinform__row"><input type="text" class="joinform__input" th:field="*{address}" required></div>
        </li>
        <li>
          <div class="joinform__row"><label for="nickname">별명</label><span class="joinform__required-mark">*</span></div>
          <div class="joinform__row">
            <input type="text" class="joinform__input joinform__input--sd joinform__nicknameInputTextbox"  th:field="*{nickname}" required>
            <button class="joinform__btn joinform__nicknameDupChkBtn" type="button">중복확인</button>
          </div>
          <div><p id="errmsg_joinFormNickname" class="field-msg"></p></div>
        </li>
      </ul>
            
    <!-- 일반회원전용정보 -->
    <div th:if="${mtype} == 'N'">
      <h3 class="joinform__title">일반회원전용정보</h3>
      <hr>
      <ul class="joinform">
          <li>
	          <div class="joinform__row"><label for="myAni">키우는동물</label><!-- <button type="button" class="joinform__aniAddBtn">+</button> --></div>
	          <input class="joinform__input" type="text" name="myAni" id="myAni" />	
          </li>
          <li><input type="hidden" name="mtype" value="N"/></li>   			
      </ul>
    <!-- 일반회원전용정보 끝 -->
    </div>
            
    <!-- 사업자회원전용정보 -->
        <div th:if="${mtype} == 'S'">
          
            <h3 class="joinform__title">사업자정보</h3>
            <hr>
            <ul class="joinform" th:object="${joinBusinessForm}">
            	<li><input type="hidden" name="mtype" value="S"/></li>
              <li>
                <div class="joinform__row"><label for="bbnum">사업자번호</label></div>
                <input class="joinform__input" type="text" name="bbnum" id="bbnum" />
              </li>
              <li>
                <div class="joinform__row"><label for="bname">업체명</label></div>
                <input class="joinform__input" type="text" name="bname" id="bname" />
              </li>
              <li>
                <div class="joinform__row"><label for="baddress">업체주소</label></div>
                <input class="joinform__input" type="text" name="baddress" id="baddress" /></li>
              <li>
                <div class="joinform__row"><label for="btel">업체연락처</label></div>
                <div class="joinform__row">
	                <input class="joinform__input" type="text" name="btel" id="btel" />
	                <!-- <input class="joinform__input joinform__input--sm" type="text" name="btel2" id="btel2" />
	                <input class="joinform__input joinform__input--sm" type="text" name="btel3" id="btel3" /> -->
								</div>                
              </li>
              <li>
                <div class="joinform__row"><label for="otime">영업시간</label></div>
                <input class="joinform__input" type="text" name="openhours" id="openhours" />
              </li>
              <li>
                <div class="joinform__row"><label for="files">업체사진</label></div>
                <div class="joinform__row"><input type="file" accept="image/*" class="joinform__input" multiple="multiple" th:field="*{files}"/></div>
              </li>
              <li>
                <p>업체 카테고리 선택</p>
                <ul class="bcategory-box">
                  <li><input type="checkbox" name="bhospital" id="bhospital" value="Y"><label for="bhospital">병원</label></li>
                  <li><input type="checkbox" name="bpharmacy" id="bpharmacy" value="Y"><label for="bpharmacy">약국</label></li>
                  <li><input type="checkbox" name="bhotel" id="bhotel" value="Y"><label for="bhotel">호텔</label></li>
                  <li><input type="checkbox" name="bkindergarden" id="bkindergarden" value="Y"><label for="bkindergarden">유치원</label></li>
                  <li><input type="checkbox" name="bfood" id="bfood" value="Y"><label for="bfood">식당ㆍ카페</label></li>
                  <li><input type="checkbox" name="btraining" id="btraining" value="Y"><label for="btraining">훈련소</label></li>
                  <li><input type="checkbox" name="bshop" id="bshop" value="Y"><label for="bshop">용품점</label></li>
                  <li><input type="checkbox" name="bplayground" id="bplayground" value="Y"><label for="bplayground">놀이터</label></li>
                  <li><input type="checkbox" name="bhairshop" id="bhairshop" value="Y"><label for="bhairshop">미용실</label></li>
                  <li><input type="checkbox" name="betc" id="betc" value="Y"><label for="betc">기타</label></li>
                </ul>
                  
                <!-- 병원 카테고리 체크시, 병원태그 선택란 출력 -->
                <div id="h_tags">
                  <p>병원태그 선택</p>
                  <input type="checkbox" name="nightcare" id="nightcare" value="Y" disabled><label for="nightcare">야간진료</label>
                  <input type="checkbox" name="rareani" id="rareani" value="Y" disabled><label for="rareani">희귀동물</label>
                  <input type="checkbox" name="visitcare" id="visitcare" value="Y" disabled><label for="visitcare">방문진료</label>
                  <input type="checkbox" name="holidayopen" id="holidayopen" value="Y" disabled><label for="holidayopen">공휴일진료</label>
                  <input type="checkbox" name="dental" id="dental" value="Y" disabled><label for="dental">치과진료</label>
                </div>
                  
              </li>
            </ul>
          </div>
          <!-- 사업자회원전용정보 끝 -->
        
        <!-- 버튼 -->
        <div class="joinform__btns">
            <input class="joinform__btn joinform__btn--big joinform__submitBtn" id='joinBtn' type='submit' value="회원가입">
            <input class="joinform__btn joinform__btn--big" id='homeBtn' type='button' value="홈으로"></input>
        </div>
        <div><p id="errmsg_DupCheck" class="field-msg"></p></div>
        
      </form>
  </main>
</body>
</html>