@charset "UTF-8";

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.logo__text{
  font-size: 50px;
  font-weight: 600;
}

.logo__img{
  width: 50px;
  height: 50px;
}