@charset "UTF-8";

:root{
  --primary : #9AABB9;
  --primary-light : #CBDDEB;
  --primary-dark : #6C7C89;
  --primary-text : #193446;

  --secondary : #E2B49A;
  --secondary-light : #FFE6CB;
  --secondary-dark : #AF846C;
  --secondary-text : #000000;

  --nav-height : 30px;

  --main-row-width : 850px;
  --form-size : 400px;
  --input-padding : 10px;

  --inquireBusi-width : 850px;
}