<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/template::main(~{::title},~{::main},~{::script},_)}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>업체 리스트</title>
	<script th:inline="javascript">
		const $busiList = /*[[${busiList}]]*/ null;	//업체목록
		const $id = /*[[${session.loginMember?.id}]]*/ null; //아이디
	</script>
	<script src="/js/api/ajaxCall.js"></script>
	<script src="/js/mapAPI1.js" defer></script>
	<script src="/js/api/busiListHospitalTagSearchReq.js" defer></script>
	<script src="/js/admin/busiList.js" th:if="${session?.loginMember?.mtype=='A'}" defer></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e10ff7f10f2e2a5c378bec9b4870e36b&libraries=services"></script>
	<script src="/js/components/scrollUp.js" defer></script>
</head>
<body>
  <main class="main">
    
    <div class="busiList-container">
      <!-- 상단 -->
      <section class="position">
        <div class="position__column">
          <div class="position__tags" th:object="${businessLoadDTO}" th:if="${bcategory == 'bhospital'}">
            <input type="checkbox" th:field="*{nightcare}" th:value="Y"><label for="nightcare">야긴진료</label>
            <input type="checkbox" th:field="*{visitcare}" th:value="Y"><label for="visitcare">방문진료</label>
            <input type="checkbox" th:field="*{dental}" th:value="Y"><label for="dental">치과진료</label>
            <input type="checkbox" th:field="*{holidayopen}" th:value="Y"><label for="holidayopen">공휴일영업</label>
            <input type="checkbox" th:field="*{rareani}" th:value="Y"><label for="rareani">희귀동물</label>
          </div>
        </div>
      	
        <div class="position__column">
          <div class="position__info">
            <p class="position__locate">내위치 : 좌표를 확인할 수 없습니다.</p>
            <p class="position__category" th:if="${bcategory == 'bhospital'}">동물병원</p>
            <p class="position__category" th:if="${bcategory == 'bpharmacy'}">약국</p>
            <p class="position__category" th:if="${bcategory == 'bhotel'}">호텔</p>
            <p class="position__category" th:if="${bcategory == 'bkindergarden'}">유치원</p>
            <p class="position__category" th:if="${bcategory == 'bfood'}">식당ㆍ카페</p>
            <p class="position__category" th:if="${bcategory == 'btraining'}">훈련소</p>
            <p class="position__category" th:if="${bcategory == 'bshop'}">용품점</p>
            <p class="position__category" th:if="${bcategory == 'bplayground'}">놀이터</p>
            <p class="position__category" th:if="${bcategory == 'bhairshop'}">미용실</p>
            <p class="position__category" th:if="${bcategory == 'betc'}">기타시설</p>
            <!-- <p class="position__category" th:if="" th:text="${busiList.search is not null} ? |검색어 : ${busiList.search}|"></p> -->
          </div>
        </div>
        <div class="position__column">
        	<div th:if="${session?.loginMember?.mtype=='A' && bcategory == 'bhospital'}" style="text-align:center">
        		<a href="/api/hospital?pageNo=1&numOfRows=100" class="busiList__hospitalDataDownloadBtn">
        			<button class="board-best__btn" type="button">공공데이터요청</button>
        		</a>
        	</div>
        </div>
      </section>
      
      <section class="busi-infomation">
        <!-- 업체리스트 -->
          <!-- 리스트 구분 -->
          <div>
	          <div class="busi-list__row busi-list__row-title">
	            <p class="busi-list__column busi-list__bname">업체명</p>
	            <p class="busi-list__column busi-list__distance">거리</p>
	            <p class="busi-list__column busi-list__score">평점</p>
	            <select class="busi-list__select" name="" id="">
	              <option value="">거리순</option>
	              <option value="">평점순</option>
	            </select>
	            <div th:if="${busiList.size>=10}" class="scroll__up" title="맨위로 이동"><i class="fas fa-angle-up"></i></div>
	          </div>
	          <!-- 리스트 -->
	        <ul class="busi-list">
	          <li class="busi-list__row" th:each="busiList : ${busiList}">
	            <span class="busi-list__column busi-list__bname"><a href="" th:href="@{|/inquire/${busiList.bnum}|}" th:text="${busiList.bname}">업체명</a></span>
	            <span class="busi-list__column busi-list__distance">좌표오류</span>
	            <div class="busi-list__column busi-list__icons">
	            	<th:block th:if="${session != null && session.loginMember != null}">
		            	<i class="fas fa-star busi-list__star"></i>
		            	<span th:text="${busiList.bscore}?:|리뷰없음|"></span>	            	
	            	</th:block>
	            	<th:block th:if="${session?.loginMember == null}">
		            	<a th:href="@{|/login?redirectUrl=${#httpServletRequest.requestURI}|}">
		            		<i class="fas fa-star busi-list__star"></i>
	            			<span>로그인후 조회</span>
	            		</a>
	            	</th:block>
	            </div>
	          </li>
	        </ul>
        </div>
        <!-- 지도 -->
        <div id="map" class="map--lg">
<!--           <div id="menu">
            <div><button id="currBtn">현재위치</button></div>
            <div><input type="text" name="" id="search"><button id='searchBtn'>검색</button></div>
          </div> -->
<!--           <div class="hAddr" style='z-index:1; position:absolute'>
 		        <span class="title">지도중심기준 행정동 주소정보</span>
		        <span id="centerAddr" style='display:block'></span>
			    </div> --> 
        </div>

      </section>
    </div>

  </main>
</body>
</html>