<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/templateSub::main(~{::title},~{::main},~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>업체 리스트</title>
  <link rel="stylesheet" href="/css/style.css">
  <script></script>
</head>
<body>
  <main class="main">
    
    <div class="busiList-container">
      <!-- 상단 -->
      <section class="position">
        <div class="position__column">
          <div class="position__tags" th:object="${businessLoadDTO}">
            <input type="checkbox" th:field="*{nightcare}" th:value="Y"><label for="nightcare">야긴진료</label>
            <input type="checkbox" th:field="*{visitcare}" th:value="Y"><label for="visitcare">방문진료</label>
            <input type="checkbox" th:field="*{dental}" th:value="Y"><label for="dental">치과진료</label>
            <input type="checkbox" th:field="*{holidayopen}" th:value="Y"><label for="holidayopen">공휴일영업</label>
            <input type="checkbox" th:field="*{rareani}" th:value="Y"><label for="rareani">희귀동물</label>
          </div>
        </div>
      
        <div class="position__column">
          <div class="position__info">
            <p class="position__locate">내위치 : 여기는 어디~~</p>
            <p th:text="${bcategory}" class="position__category">동물병원</p>
          </div>
        </div>
        <div class="position__column"></div>
      </section>
      
      <section class="busi-infomation">
        <!-- 업체리스트 -->
        <ul class="busi-list">
          <!-- 구분 줄 -->
          <li class="busi-list__row">
            <p class="busi-list__column busi-list__bname">업체명</p>
            <p class="busi-list__column busi-list__distance">거리</p>
            <p class="busi-list__column busi-list__score">평점</p>
            <select class="busi-list__select" name="" id="">
              <option value="">거리순</option>
              <option value="">평점순</option>
            </select>
          </li>
          <!-- 리스트 -->
          <li class="busi-list__row" th:each="busiList : ${busiList}">
            <span class="busi-list__column busi-list__bname"><a href="" th:href="@{|/inquire/${busiList.bnum}|}" th:text="${busiList.bname}"></a></span>
            <span class="busi-list__column busi-list__distance">3cm</span>
            <div class="busi-list__column busi-list__icons"><i class="fas fa-star"></i></div>
          </li>
          <li class="busi-list__row"></li>
          <li class="busi-list__row"></li>
          <li class="busi-list__row"></li>
          <li class="busi-list__row"></li>
          <li class="busi-list__row"></li>
          <li class="busi-list__row"></li>
          <li class="busi-list__row"></li>
        </ul>
      
        <!-- 지도 -->
        <aside id="map" class="map--lg"></aside>
      
      </section>
    </div>

  </main>
</body>
</html>