<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/templateSub::main(~{::title},~{::main},~{::script})}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./10-10.css"/>
<script type="text/javascript" src="./10-10.js"></script> -->
	<script th:inline="javascript">
		const $busi = /*[[${busi}]]*/ null;	//업체목록
		const $id = /*[[${session.loginMember?.id}]]*/ null; //아이디
	</script>
	<script src="/js/mapAPI3.js" defer></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e10ff7f10f2e2a5c378bec9b4870e36b&libraries=services"></script>
 <script src="/js/api/ajaxCall.js" defer></script>
 <script src="/js/api/favorites.js" defer></script>
 <script src="/js/api/reviewReq.js" defer></script>
 <script src="/js/inquireBusiDetail.js" defer></script>
 <title>업체조회</title>
</head>
<body>

	
	<main class="main">
	
	
		<!--전체-->
		<div class="inquireBusi-container" >    
		  <!--업체정보-->
		  <div class="selected-busi" th:object="${busi}" th:data-bnum="*{bnum}"> 
		  	<div class="busi-info">
			    <span class="sbusi-info__name" th:text="*{bname}" th:data-bnum="*{bnum}">업체명</span>
			    <div th:if="${session.loginMember != null}">
				    <i th:if="${favor.count != 1}" class="far fa-heart favorBtn unfavorite"></i>
				    <i th:if="${favor.count == 1}" class="fas fa-heart favorBtn favorite"></i>
			    </div>
			    <i th:if="${session.loginMember == null}" class="far fa-heart favorBtn"></i>
			    <!--TODO 클릭했을시 회원만 이용가능한 기능, 로그인? -->
			    <p class="busi-info__address" th:text="| > *{baddress}|">병원 > 울산시</p>
			    <!-- <p th:text="|${bcategory} > *{baddress}|">병원 > 울산시</p> -->
			    <!--임시 별점 확인-->
			    <p style="color:sandybrown;">로그인 후 별점확인 리뷰 50</p>
			    <div>
			      <!--링크해야됨-->
				    <button>업체정보</button>
				    <button>리뷰</button>
					</div>
					<!-- <button><a th:href="@{/{bcategory}}">목록으로 돌아가기</a></button> -->
		  	</div>
			<hr>


			<div class="busi-detail">

				<ul class="busi-detail__info-list">
					<li><span th:text="|주소 : *{baddress}|">주소 : </span></li>
					<li><span th:text="|영업시간 : *{openhours}|">영업시간 : </span></li>
					<li><span th:text="|연락처 : *{btel}|">연락처 : </span></li>
					<li><span>SNS : </span></li>
				</ul>

				
				<!-- 지도 -->
				<div class="col-sm-2 sidenav map" id="map"> 
					<div id="menu">
						<div><button id="currBtn">현재위치</button></div>
						<div><input type="text" name="" id="search"><button id='searchBtn'>검색</button></div>
					</div>
				</div>
				
			</div>
			
		</div>
			
			<!--리뷰 -->
					<div><p th:text="|리뷰수 : ${review.size}|"></p></div>
					<!-- 로그인시에만 리뷰 출력 -->
		      <section class="review" th:if="${session.loginMember != null}">
		        <div class="review__row" th:each="review :${review}" th:data-rnum="${review.rnum}">
							<div class="review__column"><img class="review__profile" src="https://picsum.photos/id/10/50/50" alt="프로필사진"></div>
							<div class="review__column">
								<p class="review__nickname" th:text="${review.nickname}">닉네임</p>
								<th:block th:switch="${review.rscore}">
									<div class="review__star-score" th:case="1">
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</div>
									<div class="review__star-score" th:case="2">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</div>
									<div class="review__star-score" th:case="3">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</div>
									<div class="review__star-score" th:case="4">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
									</div>
									<div class="review__star-score" th:case="5">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									</div>
								</th:block>
								<p class="review__date" th:text="|작성일자 : ${review.rvcdate}|">작성일자</p>
								<p class="review__content" th:text="${review.rcontent}">리뷰내용</p>
								<div th:if="${session.loginMember.id.equals(review.id)}"><p class="review__userBtns"><span class="review__userBtn review__modi-frm">수정</span><span>|</span><span class="review__userBtn review__del">삭제</span></p></div>
								<p class="review__reply"><i class="fas fa-level-up-alt fa-rotate-90"></i><span>사장님 : 사장님 댓글</span></p>
							</div>
							<div class="review__column"><img class="review__img" src="https://picsum.photos/id/93/180/130" alt="리뷰첨부사진"></div>
		        </div>
		  
		      </section>
		
		      <section class="wrap" th:if="${session.loginMember != null}">
		        <form name="reviewForm" class="reviewform" method="post" action="#" th:action="@{|/inquire/*{bnum}|}">
		            <p class="title_star">별점과 리뷰를 남겨주세요.</p>
		            <div class="review_rating">
		                <p class="warning_msg">별점을 선택해 주세요.</p>
		                <div class="rscore">
		                    <!-- 해당 별점을 클릭하면 해당 별과 그 왼쪽의 모든 별의 체크박스에 radio 적용 -->
		                    <input type="radio" name="rscore" id="point1" value="1" title="1점" hidden>
		                    <label for="point1"><i class="fas fa-star reviewForm__score one reviewForm__checked"></i></label>
		                    <input type="radio" name="rscore" id="point2" value="2" title="2점" hidden>
		                    <label for="point2"><i class="fas fa-star reviewForm__score two reviewForm__checked"></i></label>
		                    <input type="radio" name="rscore" id="point3" value="3" title="3점" hidden>
		                    <label for="point3"><i class="fas fa-star reviewForm__score three reviewForm__checked"></i></label>
		                    <input type="radio" name="rscore" id="point4" value="4" title="4점" hidden>
		                    <label for="point4"><i class="fas fa-star reviewForm__score four reviewForm__checked"></i></label>
		                    <input type="radio" name="rscore" id="point5" value="5" title="5점" hidden checked>
		                    <label for="point5"><i class="fas fa-star reviewForm__score five reviewForm__checked"></i></label>
		                </div>
		            </div>
		            <div class="review__contents">
		                <div class="warning_msg">5자 이상으로 작성해 주세요.</div>
		                <textarea rows="10" class="review__textarea" name="rcontent"></textarea>
		                <button class="review__regist" type="button">등록</button>
		            </div>   
		        </form>
		    </section>
		      
	      <section th:if="${session.loginMember?.id == null}">
	      	<p class="reivew__memberonly">리뷰가 보고싶다면?</p>
	      	<p><a th:href="@{/login}">바로 로그인하러 가기!!</a></p>
	      	<p><a th:href="@{/member/join}">아직 애니모어 회원이 아니라면?</a></p>
	      </section> 
		      
		      
		    </div>

	</main>

</body>
</html>