<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/templateSub::main(~{::title},~{::main},~{::script})}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./10-10.css"/>
<script type="text/javascript" src="./10-10.js"></script> -->
<script src="/js/mapAPI.js" defer></script>
 <!--네이버 API-->
 <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=g6wou1itr9"></script>
 <!--카카오 API-->
 <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d59903b6f57ce99bc6ab765eadfb68d0&libraries=services"></script>
 <title>업체조회</title>
</head>
<body>

	
	<main class="main">
	
	
		<!--왼쪽-->
		<div class="container-fluid text-center" th:object="${busi}">    
		  <!--중앙-->
		  <div class="col-sm-8 text-left"> 
		    <h1 th:text="*{bname}">업체명</h1>
		    <p th:text="| > *{baddress}|">병원 > 울산시</p>
		    <!-- <p th:text="|${bcategory} > *{baddress}|">병원 > 울산시</p> -->
		    <!--임시 별점 확인-->
		    <p style="color:sandybrown;">로그인 후 별점확인 리뷰 50</p>
		    <div>
		      <!--링크해야됨-->
		    <button>업체정보</button>
		    <button>리뷰</button>
			</div>
			<hr>


			<div class="busi-detail">

				<ul class="busi-detail__info-list">
					<li><span th:text="|주소 : *{baddress}|">주소 : </span></li>
					<li><span th:text="|영업시간 : *{openhours}|">영업시간 : </span></li>
					<li><span th:text="|연락처 : *{btel}|">연락처 : </span></li>
					<li><span>SNS : </span></li>
				</ul>

				
				<!-- 지도 -->
				<div class="col-sm-2 sidenav map" id="map"> 
					<div id="menu">
						<div><button id="currBtn">현재위치</button></div>
						<div><input type="text" name="" id="search"><button id='searchBtn'>검색</button></div>
					</div>
				</div>
				
			</div>
			
			
			<!--리뷰 -->

		      <section class="review">
		      	<hr>
		
		        <div class="review__row" th:each="review :${review}">
							<div class="review__column"><img class="review__profile" src="https://picsum.photos/id/10/50/50" alt="프로필사진"></div>
							<div class="review__column">
								<p class="review__nickname" th:text="${review.nickname}">닉네임</p>
								<div class="review__star-score"><i class="fas fa-star"><i class="far fa-star"></i></i></div>
								<p class="review__date">방문일자</p>
								<p class="review__date" th:text="|작성일자 : ${review.rvcdate}|">작성일자</p>
								<p class="review__content" th:text="${review.rcontent}">리뷰내용</p>
								<p class="review__reply"><i class="fas fa-level-up-alt fa-rotate-90"></i><span>사장님 : 사장님 댓글</span></p>
							</div>
							<div class="review__column"><img class="review__img" src="https://picsum.photos/id/93/180/130" alt="리뷰첨부사진"></div>
		        </div>
		  
							<hr>
		      </section>
		</div>
		
		
		      <div class="wrap">
		        <form name="reviewForm" class="reviewform" method="post" action="#" th:action="@{|/inquire/*{bnum}|}">
		            <input type="hidden" name="rate" id="rate" value="0"/>
		            <p class="title_star">별점과 리뷰를 남겨주세요.</p>
		            <div class="review_rating">
		                <div class="warning_msg">별점을 선택해 주세요.</div>
		                <div class="rating">
		                    <!-- 해당 별점을 클릭하면 해당 별과 그 왼쪽의 모든 별의 체크박스에 checked 적용 -->
		                    <input type="checkbox" name="rating" id="rating1" value="1" class="rate_radio" title="1점">
		                    <label for="rating1"></label>
		                    <input type="checkbox" name="rating" id="rating2" value="2" class="rate_radio" title="2점">
		                    <label for="rating2"></label>
		                    <input type="checkbox" name="rating" id="rating3" value="3" class="rate_radio" title="3점" >
		                    <label for="rating3"></label>
		                    <input type="checkbox" name="rating" id="rating4" value="4" class="rate_radio" title="4점">
		                    <label for="rating4"></label>
		                    <input type="checkbox" name="rating" id="rating5" value="5" class="rate_radio" title="5점">
		                    <label for="rating5"></label>
		                </div>
		            </div>
		            <div class="review_contents">
		                <div class="warning_msg">5자 이상으로 작성해 주세요.</div>
		                <textarea rows="10" class="review_textarea" name="rcontent"></textarea>
		            </div>   
		            <div class="cmd">
		                <input type="submit" name="save" id="save" value="등록">
		            </div>
		        </form>
		    </div>
		      
		      
		    </div>

	</main>

</body>
</html>