@charset "UTF-8";

.nav {
  background-color: var(--primary);
  color: var(--primary-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom : 30px;
  /* position sticky 적용 */
  position:sticky;
  top:0px;
}
.nav__column {
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 20px;
  height: 30px;
}
.nav__column:first-child {
  cursor: pointer;
}
.nav__column:first-child:hover {
  /* TODO  카테고리리스트 출력 */
  transform: translateY(30px);
}
.nav__column i {
  margin-right: 10px;
}

.nav__btn {
  display: flex;
}
.nav__btn > li {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: var(--primary-dark);
  margin-left: 30px;
  cursor: pointer;
  position: relative;
}
.nav__board {
  display: none;
  border: 3px solid var(--primary-dark);
}
.nav__board li {
  width: 110px;
  border: 1px dotted var(--primary-dark);
  font-size: 17px;
  font-weight: 400;
}
.nav__btn li:hover {
  text-decoration: underline;
}

.nav__btn li:nth-child(2):hover .nav__board {
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
}

.nav-sub{
  margin-bottom: 80px;
}
