@charset "UTF-8";

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.search__input {
  width: 500px;
  padding: 15px;
  margin: 30px 0;
  outline: none;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.search__icon {
  font-size: 35px;
  background-color: var(--primary-light);
  padding: 3.5px 8px;
  border-radius: 5px;
  border : 3px solid var(--primary);
  cursor: pointer;
  box-sizing: border-box;
}

.search__input--sm{
	width: 300px;
  padding: 10px;
  margin: 0;
  height : var(--nav-height);
  box-sizing: border-box;
  border-radius: 0;
  margin-left: 50px;
}

.search__icon--sm{
	font-size: 25px;
  padding: 0px;
  background-color: inherit;
  border-radius: 0;
  border : none;
}