@charset "UTF-8";

/* 로고 */
.logo a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo__img{
  width: 500px;
  height: 200px;
}

/* .logo:hover .logo__img{
	transform: rotateY(1turn) rotateX(2turn);
  transition: 3s ease-out;
} */


/* 헤더 네브바 */
.nav {
  background-color: inherit;
/*   background-color: var(--primary); */
  color: var(--primary-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom : 30px;
  position:sticky;
  top:0px;
  z-index: 300;
 /*  box-shadow: 2px 2px 5px var(--primary); */
 border-bottom: 2px solid var(--primary);
}
.nav__column {
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 20px;
  height: var(--nav-height);
  width : 33%;
}
.nav__column:first-child {
  position: relative;
}
.nav__busi-category{
	display : none;
}
.nav__categoryBtn:hover .nav__busi-category{
  display : flex;
  flex-direction : column;
  position : absolute;
  left : 30px;
  top : var(--nav-height);
  width: 160px;
  background-color: var(--body-color);
  border : 1px solid rgba(0,0,0,0.1);
} 
.nav__categoryBtn{
	height : 100%;
	display : flex;
  align-items: center;
  cursor: pointer;
}
.nav__busi-category li{
  /* border: 1px dashed rgba(0,0,0,0.3); */
	/* border-collapse: collapse; */
	padding : 10px 0;
	/* background-color: white; */
}
.nav__busi-category li a {
  display: block;
  width: 100%;
  height : 100%;
}
.nav__busi-category li:hover{
	color : var(--secondary);
}

.nav__column:nth-child(2){
	display : flex;
	justify-content: center;
}
.nav__column:last-child {
	display : flex;
	justify-content: flex-end;
	align-items: center;
}
.nav__column i {
  margin-right: 10px;
}

.nav__btns {
  display: flex;
}
.nav__btn {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
 /*  background-color: var(--primary-dark); */
  margin-left: 30px;
  cursor: pointer;
}
.nav__board-p{
  position: relative;
}
.nav__btn:hover{
	color: var(--secondary);
}
/* .nav__btns li:hover {
  text-decoration: underline;
} */
.nav__board {
  display: none;
  /* border: 3px solid var(--primary-dark); */
}
.nav__board li {
  width: 110px;
/*   border: 1px dotted var(--primary-dark); */
  font-size: 17px;
  font-weight: 400;
  padding : 10px 0;
}

.nav__column:last-child a{
	display : block;
	width: 100%;
	height: 100%;
	
}
.nav__column:last-child .nav__btns>li>a{
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav__btns li:first-child:hover .nav__board {
  display: block;
  position: absolute;
  top: 32px;
  left: 45px;
  background-color : var(--body-color);
  border: 1px solid rgba(0,0,0,0.1);
}
.nav__board:hover .nav__btn{
	color: var(--secondary);	
}
.nav__board li:hover{
	color: var(--secondary);
}

.nav-sub{
  margin-bottom: 80px;
}


/* 푸터 */
footer{
  /* background-color: yellow; */
  /* outline: 1px solid black; */
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid black;
}
.ft_name{
  font-size: 1.5em;
  padding-bottom: 10px;
  font-weight: bold;
}
.ft_content{
  padding-top: 10px;
}

.footer{
  margin-top: 100px;
}


/* 반응형 웹 처리 */
@media screen and (max-width: 1200px) {
	.nav__category-text{
		display: none;
	}
	.nav__column{
	width : auto;
	}
}

@media screen and (max-width: 992px) {
.nav__column {
	padding : 0;
}
.nav__categoryBtn{
	padding-left: 10px;
}
}

@media screen and (max-width: 780px) {
	.search__input--sm{
		width: 200px;
	}
	.nav__btn {
	margin : 0;
}
	.logo__img{
		width : 400px;
		height: 165px;
	}

}
@media screen and (max-width: 600px) {
	.nav__column{
	font-size: 15px;
	}
	.search__input--sm{
		width: 150px;
	}
}

@media screen and (min-width: 600px) {

}


