
.board {
  width: 1100px;
}

.board__categorys a:link {
  text-decoration: none;
  color: black;
}
.board__categorys a:visited {
  color: black;
  text-decoration: none;
}
.board__categorys {
  display: flex;
}
.board__categorys li {
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.board__categorys li:hover {
  font-weight: bold;
  background-color: var(--secondary-light);
  color: var(--secondary-text);
  border-radius: 30px;
}

/*선택된카테고리에 적용될 css*/
.board__selectCategory{
  font-weight: bold;
  background-color: var(--secondary-light);
  color: var(--secondary-text);
  border-radius: 30px;
}


.board__table {
  width: 100%;
  text-align: center;
}
.board__cell {
  border: 1px solid rgba(0, 0, 0, 0.5);
  height:22px;
  line-height:22px;
}
.notice__cell{
  font-weight: bold;
}
.board__table th:nth-child(3) {
  width: 13%;
}
.board__table th:first-child{
	width:7%
}
.board__table th:nth-child(4),
.board__table th:last-child{
	width: 6%;
}

.board__table th:nth-child(2) {
  width: 70%;
}

.board__table__select {
  width: inherit;
  height: 26px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  /* text-align: center; */
}

.board__btns {
	width:1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0;
}



.board__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.board__search_select {
  height: inherit;
  box-sizing: border-box;
  cursor: pointer;
}

.board__search input {
  height: inherit;
  box-sizing: border-box;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.board__search input:focus {
  border: 1px solid rgba(0, 0, 0, 1);
  outline: none;
}

.board__search button {
  width: 50px;
  height: inherit;
  box-sizing: border-box;
  cursor: pointer;
}

/* 갤러리 형식게시판 */
.b_galarywrap {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 220px);
  justify-content: space-between;
  gap: 10px;
}
.b_galary_img img {
  border-radius: 10%;
}
.b_galary_title {
  text-align: center;
}

/* 건강정보게시판 */
.health_btns{
  display: flex;
  justify-content: space-around
}
.health_disease_btn, .health_act_btn{
  width: 500px;
  height: 100px;
  background-color: var(--primary-light);
  border: none;
  border-radius: 15px;;
  font-size: 1.3em;
}
.health_disease_btn:hover{
  cursor: pointer;
  font-weight: bold;
  
}
.health_act_btn:hover{
 cursor: pointer;
 font-weight: bold;
}

/* 건강정보게시판 검색창 */
.health__search{
 display: flex;
 justify-content: center;
 padding-top: 15px;
}
.health__search_select{
  width: 150px;
  height: 40px;
  padding-left: 10px;
}
.health__search_input{
  width: 400px;
  margin-left: 5px;
}
.health__search_btn{
  width: 80px;
  margin-left: 5px;
  background-color: var(--primary);
  border: none;
}
/* 건강정보게시판 게시글목록 */

.health_board_container{
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-light);
  height: 80px;
  margin-top: 10px;
  border-radius: 15px;
}
.health_board_title{
  height: 20px;
  margin: 5px;
}
.health_board_content{
 margin: 5px;
}
.health_board_writer{
  height: 20px;
 margin: 5px;

}

 /* 게시글 상세화면 */
 .boardForm{
 	/*width:1100px;*/
 	align-items: flex-start;
 }
 .boardForm__listBtn{
    font-size: 1.1em;
}
.boardForm__infoContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.boardForm__info{
    display: flex;
    flex-direction: column;
}
.boardForm__info2{
    display: flex;
    align-items: center;
    gap: 5px;
}
.boardForm__titleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.boardForm__noticebox{
	display:flex;
	flex-direction: row;
}
.boardForm__proImg{
    border-radius: 50%;
}
.boardForm__contents{
    height: 400px;
    width: 1100px;
    border: 1px solid black;
    background-color: lightgray;    
    border-radius: 5px;
    border: none;
}
.boardForm__likeContainer{
    display: flex;
    flex-direction: row;
}
.boardForm__likewrap{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    height: 30px;
    width: 75px;
    line-height: 30px;
    border-radius: 5px;
}
.fa-heart{
    font-size: 1.5em;
}
.boardForm__likeHits{
    line-height: 30px;
}
.boardForm__replyContainer{
    display: flex;
}
.boardForm__Replywrap{
    display: flex;
}
.boardForm__AddReplyContainer{
    background-color: lightgray;
    width:1100px;
    border-radius: 5px;
}
.boardForm__AddReplyContent{
    width: 80%;
    height: 120px;
    margin-left: 30px;
    margin-top: 10px;
}

.boardForm__underBtns{
    padding-top: 5px;
    padding-bottom: 50px;
}
.boardForm__ReplyReBtn:hover{
	cursor:pointer;
}

/* 댓글수정을 위한 textbox */
.boardForm__hideReply{
	display:none;
}

.toggleColorChange{
    color: red;
}

/* 게시글작성화면 */
.addPost__container{
	 	align-items: flex-start;
}
.addPost__selectbox{
	height: 30px;
	border:none;
	background-color: inherit;
	border: none;
	border-bottom: solid 1px var(--primary-dark);
}
.addPost__title{
    display: block;
    border: none;
    border-bottom: solid 1px var(--primary-dark);
    width:500px;
    height:30px;
    padding:5px;
    margin: 5px;
	background-color: inherit;
}

.addPost__icons {
  width: 450px;
}

.addPost__icons .filetype {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *margin-right: 4px;
}

.addPost__icons .filetype * {
  vertical-align: middle;
}

.addPost__icons .filetype .file-text {
  position: relative;
  width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height: 30px;
  border-bottom: 1px solid black;
  margin: 0;
  line-height: 20px;
  z-index: 10;
}

.addPost__icons .filetype .file-select {
  position: absolute;
  top: 0;
  right: 0;
  width: 78px;
  overflow: hidden;
}

.addPost__icons .filetype .file-select .input-file {
  width: 50px;
  filter: alpha(opacity=0);
  opacity: 0;
  height: 30px;
  background-color: #fff;
}

.addPost__icons .filetype .file-text + .file-btn {
  display: inline-block;
  background-color: var(--primary);
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 15px;
  color: #fff !important;
  cursor: pointer;
  *margin-left: 4px;
}
.addPost__content{
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    height: 350px;
    width:1100px;
}
.addPost__btns{
    display: flex;
    justify-content: space-between;
    padding:10px 0px 50px 0px;
    
}