@charset "UTF-8";

.boardForm__replyContainer{
	margin: 5px 0 5px 0;	
}

.boardForm__replyTextContainer {
	margin-left: 5px;
}
.boardForm__ReplyContent{
	padding : 5px 0;
}

.boardForm__reply.boardForm__text{
	font-weight: bold;
}

.boardForm__Replycdate{
	font-size: 13px;
	color: var(--primary);
}

.boardForm__replyIndent{
	width: 40px;
	position: inherit;
}

.boardForm__replyImgWrap{
	display:flex;
	position:static;
}
.boardForm__replyIndent+.boardForm__replyImgWrap::before{
	font-family: 'Material Icons';
  content: "subdirectory_arrow_right";
  -webkit-font-feature-settings: 'liga';
	display: block;
	position: relative;
	right: 5px;
}

.boardForm__ReplyNickname.boardForm__ReplyPostWriter::before{
	content:"글쓴이 ";
	color:var(--primary);
}

.boardForm__ReplyReBtn,
.boardForm__modiReplyBtn,
.boardForm__delReplyBtn{
	background-color: var(--body-color);
	color: var(--primary-dark);
	cursor: pointer;
	border-radius:  5px;
	border-width: 0px;
	padding: 0;
	margin-left:3px;
/*
	outline: none;
	height: fit-content; width: fit-content;
	*/
}

.boardForm__modiReplyBtn::before,
.boardForm__modiReplyBtn::after{
	content:" | ";
	display: inline;
}

#boardForm__reReplyCancelBtn,
#boardForm__reReplySubmitBtn,
#boardForm__modiReplyCancelBtn,
#boardForm__modiReplySubmitBtn{
	background-color: var(--primary);
	color: white;
	cursor: pointer;
	border-radius: 5px;
	border-width: 0;
/*
	outline: none;
	height: fit-content; width: fit-content;
	*/
}

#boardForm__reReplyTextarea,
#boardForm__modiReplyTextarea{
	border: 1px solid var(--border-lightgray);
}

#boardForm__modiReplyWrap,
#boardForm__reReplyWrap{
	width: 600px;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.03);
	margin: 5px 0;
}
#boardForm__reReplyWrap{
	margin-left: 50px;
}

