/* 전체 */
.busiList-container{
  width: 1210px;
}

/* 상단 */
.position{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.position__column{
  width: 30vw;

}

/*  병원태그 */
.position__tags{
  width: 250px;
  /* margin-left: 60px; */
}
.position__tags input,
.position__tags label{
  margin-bottom: 10px;
}

/* 내위치 및 카테고리 */
.position__column:nth-child(2){
  display: flex;
  justify-content: center;
}
.position__info{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.position__locate{
  background-color: var(--secondary-light);
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.position__category{
  background-color: var(--secondary);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
}

/* 업체리스트 및 지도 */
.busi-infomation{
  display: flex;
  gap: 60px;
  margin-top: 80px;
}

/* 업체리스트 */
.busi-list{
  /* display: flex;
  flex-direction: column;
  gap: 10px; */  
  /* justify-content: space-between; */
	overflow-x: hidden; 
	overflow-y: scroll;
  -ms-overflow-style: none; 
	height: 545px;
}
.busi-list::-webkit-scrollbar{ display:none; }

.busi-list__row{
  width: 700px;  
  height: 50px;
  background-color: var(--primary-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
}

.busi-list .busi-list__row:hover{
	background-color : #6498DF;
	transform : translateX(-20px);
	transition : 0.5s;
	/* position: relative;
	right : 20px;*/
}
.busi-list__star{
	color : var(--yellow);
	margin-right: 5px;
}
.busi-infomation .scroll__up{
  position: absolute;
  top: 550px;
  right: 15px;
}

.busi-list__column{
  width: 33%;
  text-align: center;
}
.busi-list__select{
  position: absolute;
  right: 0px;
  top: -25px;
  background-color: var(--body-color);
  border: none;
  border-bottom: 1px solid black;
}

/* 지도 */
.map--lg{
  background-color: rgba(0, 0, 0, 0.5);
  width: 450px;
  height: 600px;
}