@charset "UTF-8";

.busi-category {
  display: grid;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(5, 200px);
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  padding: 80px 0;
}

.busi-category a{
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  color: var(--secondary-text);
  font-size: 50px;
  border-radius: 15px;
  cursor: pointer;
}
/* 메뉴바 */
.menubar__menu {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: var(--main-row-width);
  gap: 10px;
}
.menubar input {
  background-color: var(--primary);
  color: var(--primary-text);
  font-size: 30px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border: none;
  margin: 20px 0;
  cursor: pointer;
}

.board-best {
  display: flex;
  flex-direction: column;
}

.board-best__content{
  display: flex;
  justify-content: space-between;
}
.board-best__title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}
.board-best__text{
  font-size: 20px;
}
.board-best__img{
  margin-left: 5px;
}

.good{
  display: flex;
  font-size: 20px;
  font-weight: 400;
}
.good span{
  margin-left: 5px;
}

.board-best__row{
  width: var(--main-row-width);
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding:  10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}