@charset "UTF-8";

.mtypeBtns{
	display : flex;
	gap : 50px;
	
}
.mtypeBtn {
	width : 250px;
	height : 200px;
	background-color : var(--secondary);
	border : none;
	border-radius : 5px;
	font-size : 20px;
	font-weight : 600;
	cursor : pointer;
	box-shadow : 3px 3px 5px var(--secondary-dark);
}