@charset "utf-8";
.container{
  width: 70%;
  margin: auto;
}

.mypage_container{
  margin-top: 50px;
  min-width: 650px; max-width: 800px;
}

.mypage_profile_container{
  display:flex;
  align-items: center;
  margin: auto;
  height: 150px;
  min-width: 650px; max-width: 800px;
  background-color: #eee;
}

.mypage_profile_profileimg{
  height: 100px; width: 100px;
  margin-left: 50px;
  background-color: #eee;
}
.mypage_profile_profileimg img{
  height: 100%; width: 100%;
}

.mypage_profile_nickname{
  font-size: 30px;
  margin-left: 100px;
}

.mypage_profile_usertypeicon{
  height: 50px; width: 50px;
  margin-left: 10px;
}
.mypage_profile_usertypeicon img{
  height: 100%; width: 100%;
  background-color: #eee;
}

.mypage_profile_mileage{
  margin-left: 50px;
  font-size: 20px;
}

.mypage_container2{
  display: grid;
  margin: 30px auto 0 auto;
  grid-template-columns: minmax(170px, 200px) minmax(450px, 568px);
  justify-content: center;
  gap: 30px;
}

/* 마이페이지 메뉴 */
.mypage_aside_title{
  margin-left: 15px;
  margin-top: 0;
}
.mypage_aside_menu{
  font-size: 16px;
}
.mypage_aside_container ul{
 list-style: none;
 padding: 0;
}
.mypage_aside_menu li{
  box-sizing: border-box;
  margin-top: -1px;
  padding: 11px 10px;
  border: 1px solid #ddd;
}
.mypage_aside_menu li a{
  color: #000;
  text-decoration: none;
}
.mypage_aside_menu li a:hover{
  color: cornflowerblue;
  /* font-weight: bold; */
}
.mypage_aside_menu li.mypage_aside_menu_highlight a{
  /* font-weight: bold; */
  color: cornflowerblue;
}


/* 마이페이지 본문 제목 */
.mypage_content_title{
  margin-top: 6px;
  margin-left: 6px;
}
.mypage_content_container hr{
  background-color: #ddd;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-bottom: 6px;
}

/* 즐겨찾는 업체 */

.mypage_content ul{
  display: flex;
  justify-content:space-evenly;
  margin: 0; padding: 0;
  list-style: none;
  font-size: 12px;
}

.mypage_content ul li input{
  display: none;
}
.mypage_content ul li input[type="checkbox"] + label:hover{
  cursor: pointer;
}
.mypage_content ul li input[type="checkbox"]:checked + label{
  font-weight: bold;
  color: cornflowerblue;
}

/* 내 리뷰 */
 .my-review{
   display: grid;
   grid-template-rows: repeat(10, 40px);
   grid-template-columns: 40px 120px 60px 250px 120px;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   border-left: 1px solid rgba(0, 0, 0, 0.1);
 }
 .my-review__title,
 .my-review__text{
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   border-right: 1px solid rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .my-review__title{
   font-weight: 600;
 }


/* 모바일(여유되면) */
@media screen and (max-width: 767px) {
  

}