<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment= "main(title,content,js,links)">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/favicon(1).ico" type="image/x-icon">
  <th:block th:replace="${links}"></th:block>
   <script src="/js/api/ajaxCall.js" defer></script>
  <script src="/js/api/login.js" defer></script>
  <script defer th:replace=${js}></script>
  <link rel="stylesheet" href="/css/style.css?a">
  <title th:replace=${title}>페이지제목</title>
</head>
<body>
  <header>
   	<div class="logo">
    	<a href="/index.html" th:href="@{/}">
        <!-- <h1 class="logo__text">Ani-More</h1> -->
        <!-- <img style="width : 650px; height: 250px;" class="logo__img" src="/img/logo4.png" alt="로고이미지"> -->
        <img style="width : 500px; height: 200px;" class="logo__img" src="/img/logo.png" alt="로고이미지">
        <!-- <img style="width : 500px; height: 200px;" class="logo__img" src="/img/logo2.png" alt="로고이미지"> -->
        <!-- <img style="width : 280px; height: 200px;" class="logo__img" src="/img/logo2-k3.png" alt="로고이미지">
        <img style="width : 500px; height: 200px;" class="logo__img" src="/img/logo2-k2.png" alt="로고이미지"> -->
    	</a>
    </div>
  </header>

  <nav class="nav nav-sub">
    
    <div class="nav__column">
      <div class="nav__categoryBtn">
        <i class="fas fa-bars"></i>
        <span class="nav__category-text">전체 카테고리</span>
        <ul class="nav__busi-category">
          <li><a href="#" th:href="@{/bhospital}">병원</a></li>
          <li><a href="#" th:href="@{/bpharmacy}">약국</a></li>
          <li><a href="#" th:href="@{/btraining}">훈련소</a></li>
          <li><a href="#" th:href="@{/bfood}">식당ㆍ카페</a></li>
          <li><a href="#" th:href="@{/bplayground}">놀이터</a></li>
          <li><a href="#" th:href="@{/bhotel}">호텔</a></li>
          <li><a href="#" th:href="@{/bhairshop}">미용실</a></li>
          <li><a href="#" th:href="@{/bshop}">용품점</a></li>
          <li><a href="#" th:href="@{/bkindergarden}">유치원</a></li>
          <li><a href="#" th:href="@{/betc}">그 외</a></li>
        </ul>
      </div>
    </div>

    <div class="nav__column" th:if="${#httpServletRequest.requestURI !='/'}">
		  <!-- 검색 -->
		  <form class="search" th:action="@{|/search?search=${search}|}">
		    <input class="search__input search__input--sm" name="search" type="text" >
		    <button class="search__icon search__icon--sm"><i class="fas fa-search"></i></button>
		  </form>
    </div>

    <div class="nav__column">
      <ul class="nav__btns">
        <!-- TODO href th:href -->
        <li class="nav__board-p"><span class="nav__btn">게시판</span>
          <ul class="nav__board">
            <li><a href="#" th:href="@{/board/{cate}(cate=Q)}">Q&A</a></li>
            <li><a href="#" th:href="@{/board/{cate}(cate=F)}">자유게시판</a></li>
            <li><a href="#" th:href="@{/board/{cate}(cate=M)}">벼룩시장</a></li>
            <li><a href="#" th:href="@{/board/{cate}(cate=P)}">내새끼보세요</a></li>
          </ul>
        </li>
        <li class="nav__btn" th:if="${session.loginMember == null}"><a href="/member/join">회원가입</a></li>
        <li class="nav__btn" th:if="${session.loginMember == null}"><span class="nav__loginBtn">로그인</span></li>
        <li class="nav__btn myinfoBtn" th:if="${session.loginMember != null}"><a href="/mypage/mypageFavorites" >내정보</a></li>
        <!-- <li th:if="${session.loginMember != null && session.loginMember.mtype.equals('A')}"><a href="/mypage/mypageFavorites">내정보</a></li>
        <li th:if="${session.loginMember != null && session.loginMember.mtype.equals('N')}"><a href="/mypage/mypageFavorites">내정보</a></li>
      	<li th:if="${session.loginMember != null && session.loginMember.mtype.equals('S')}"><a href="/mypage/mypageFavorites">내정보</a></li> -->
        <li class="nav__btn" th:if="${session.loginMember != null}" th:data-id="${session.loginMember.id}"><a href="/logout">로그아웃</a></li>
      </ul>
	  </div>
  </nav>

  <main th:replace=${content}></main>

  <footer class="footer">
    <p class="ft_name">Ani-More</p>
    <p class="ft_content">주소 : 울산광역시 남구 삼산로35번길 19 </p>
    <p class="ft_content">사업자번호 : 123-45-67890</p>
    <p class="ft_content">Contact Us Admin@animore.com</p>
    <p class="ft_content">@Copyright Ani-More All Rights Reserved 2021</p>
</footer>

</body>
</html>