@charset "UTF-8";

@import "reset.css";
@import "variable.css";

/* 컴포넌트 */
@import "components/logo.css";
@import "components/nav.css";
@import "components/search.css";
@import "components/toggleBtn.css";
@import "components/template.css";
/* 스크린 */
@import "screen/intro.css";
@import "screen/login.css";
@import "screen/joinForm.css";
@import "screen/findIdPW.css";
@import "screen/mypage.css";
@import "screen/mypage_1.css";

/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.14.0/css/all.min.css");
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BBTreeGB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* 글씨체 정해둔거 있음. 사용한 굵기 600 400 */
body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
    font-family: RIDIBatang;
    font-family: BBTreeGB;
    background-color: #F8F8F8;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
